:root {
  --primary-white-color: #ffffff;
  --secondary-bg-color: #f7f7f7;
  --third-bg-color: #191c26;
  --primary-accent-color: #ff6c00;
  --primary-black-color: #303030;
  --primary-text-color: #555555;
  --primary-grey-color: #9da4bd;
  --hero-bg-color: rgba(25, 28, 38, 0.2);
  --section-price-bg: #111319;
  --prices-start-gradient: #090b13;
  --prices-end-gradient: rgba(9, 11, 19, 0.2);
  --prices-line-color: rgba(157, 164, 189, 0.12);
  --booking-text-color: rgba(157, 164, 189, 0.4);
  --darkbg-text-color: rgba(157, 164, 189, 0.6);
  --title-main-margin: 20px;
  --main-gap-size: 30px;
  --card-items: 3;
  --button-border-radius: 25px;
}
html {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  background-color: var(--primary-white-color);
  color: var(--primary-grey-color);
}
/* Styles reset */
h1,
h2,
h3,
p {
  margin: 0 auto;
}
img,
svg {
  display: block;
}
.link {
  text-decoration: none;
  color: inherit;
  transition: color 250ms linear;
}
.link:hover,
.link:focus {
  color: var(--primary-accent-color);
}
.list {
  list-style: none;
  padding-left: 0;
  margin: 0 auto;
}
/* Global styles */
.container {
  width: 1200px;
  height: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.button {
  min-width: 160px;
  padding: 11px 20px;

  font-family: "Open Sans", sans-serif;
  font-style: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  color: var(--primary-white-color);
  background-color: transparent;

  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid var(--primary-accent-color);
  border-radius: var(--button-border-radius);
  transition: background-color 250ms linear;
}
.button:hover,
.button:focus,
.button:active {
  background-color: var(--primary-accent-color);
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.title {
  margin-top: var(--title-main-margin);
  margin-bottom: var(--title-main-margin);

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--primary-black-color);
}
.subtitle {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  text-transform: uppercase;
  color: var(--primary-black-color);
}
.subtitle-dark {
  color: var(--darkbg-text-color);
}
.subtitle::before {
  content: "";
  width: 60px;
  height: 1px;

  margin-right: 20px;

  background-color: var(--primary-black-color);
}
.subtitle-dark::before {
  content: "";
  width: 60px;
  height: 1px;

  margin-right: 20px;

  background-color: var(--darkbg-text-color);
}
.card-set {
  margin-top: 44px;
  display: flex;
  gap: var(--main-gap-size);
}
.card-item {
  flex-basis: calc((100% - (var(--card-items)-1) * var(--main-gap-size)) / var(--card-items));

  text-align: center;
}
/* Header */
.logo {
  color: var(--primary-black-color);
}
.logo-icon {
  width: 69px;
  height: 56px;

  fill: currentColor;
}
.page-header.container {
  position: relative;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}
/* Navigation */
.page-nav {
  margin-left: 131px;
}
.nav-list {
  display: flex;
  gap: var(--main-gap-size);
}
.nav-list .item {
  padding-top: 52px;
  padding-bottom: 26px;
}
.nav-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--primary-white-color);
}
.header-button {
  margin-left: 43px;
  margin-right: 17px;
}
.header-link {
  margin-left: auto;
  padding-top: 52px;
  padding-bottom: 26px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--primary-white-color);
}
/* Hero */
.hero {
  display: flex;
  padding-bottom: 40px;
}
.hero-list {
  margin-left: 0;
  margin-right: 0;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  gap: 40px;
}
.hero-list::before {
  content: "";
  width: 1px;
  height: 60px;

  background-color: var(--primary-black-color);
}
.hero-list .link {
  padding-top: 28px;
  padding-bottom: 28px;
  display: flex;
  justify-content: center;
  transform: rotate(-90deg);

  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.37;
  color: var(--primary-black-color);
}
.hero-list .link:hover,
.hero-list .link:focus {
  color: var(--primary-accent-color);
}
.hero-content {
  padding-top: 184px;
  padding-bottom: 168px;
  margin-left: 100px;
  margin-right: auto;
}
.slider-overlay {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 15px;
  min-width: 1070px;
  min-height: 680px;

  background-image: linear-gradient(var(--hero-bg-color), var(--hero-bg-color)), url(../images/slider-photo-3.jpg),
    url(../images/slider-photo-2.jpg), url(../images/slider-photo-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-title {
  margin-top: var(--title-maim-margin);
  margin-bottom: var(--title-main-margin);

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--primary-white-color);
}
.hero-content .subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--darkbg-text-color);
}
/* About */
.about,
.about-list {
  display: flex;
}
.about-photo {
  margin-right: var(--main-gap-size);
}
.about-content {
  padding-right: 100px;

  color: var(--primary-text-color);
}
.about-button {
  color: var(--primary-black-color);
}
.about-content > .text {
  margin-top: var(--title-main-margin);
  margin-bottom: 42px;

  font-size: 14px;
  line-height: 1.86;
}
/* <!-- Services and prices --> */
.price {
  max-width: 1600px;
  margin: 0 auto;

  text-align: center;
  background-color: var(--section-price-bg);
  background-image: url(../images/prices-bg.png);
}
.price-subtitle {
  color: var(--darkbg-text-color);
  text-align: left;
}
.price .title {
  margin-bottom: 44px;

  color: var(--primary-white-color);
  text-align: left;
}
.price-content {
  display: flex;
  margin-bottom: 44px;
  gap: var(--main-gap-size);
}
.price-list {
  padding-top: 30px;
  padding-right: 22px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin-left: 0;
  margin-right: 0;
  width: 570px;
  gap: 30px;

  background-color: var(--prices-bg-color);
  background-image: linear-gradient(180deg, var(--prices-start-gradient) 0%, var(--prices-end-gradient) 100%);
}
.price-item {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 12px;
  margin-bottom: 20px;
}
.price-line {
  height: 1px;
  flex-grow: 1;

  background-color: var(--prices-line-color);
}
/* Features */
.features {
  padding-left: 100px;
  padding-right: 70px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.features-list {
  padding-right: 0;
  display: flex;
  flex-wrap: wrap;
}
.features-item {
  position: relative;
  width: 170px;
  padding: 20px 24px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--primary-black-color);
  background-color: var(--secondary-bg-color);
}
.features-item:nth-child(2n + 1) {
  margin-right: var(--main-gap-size);
  margin-bottom: var(--main-gap-size);
}
.features-item:nth-child(2n) {
  margin-top: 30px;
}
.feature-amount {
  margin-bottom: 6px;

  font-weight: 700;
  font-size: 42px;
  letter-spacing: 0.05em;
}
.feature-amount::after {
  content: "+";
  position: absolute;
  font-weight: 600;
  font-size: 16px;
  line-height: calc(22px / 16px);

  color: var(--primary-accent-color);
}
.features-content .text {
  color: var(--primary-text-color);
}
/* Barbers */
.barber {
  background-color: var(--secondary-bg-color);
}
.barber-list {
  margin-top: 44px;
}
.barber-name {
  margin-top: var(--main-gap-size);
  margin-bottom: 8px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  color: var(--primary-black-color);
}
.barber-text {
  margin-bottom: var(--main-gap-size);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  color: var(--primary-accent-color);
}
.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  color: var(--primary-black-color);
  background-color: var(--primary-white-color);
  border-radius: 50%;
  transition: color 250ms linear;
}
.social-link:hover,
.social-link:focus {
  color: var(--primary-accent-color);
}
.social-icon {
  fill: currentColor;
}
/* Gallery */
.hidden {
  display: none;
}
.gallery-list {
  --card-items: 4;
}
/* Contacts */
.contacts-wrapper {
  max-width: 1600px;
  padding-top: 130px;
  padding-bottom: 120px;
  margin: 0 auto;

  background-color: var(--third-bg-color);
  background-image: url(../images/contacts-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left calc(50% + 423px) top 50%;
}
.contacts-wrapper .container {
  display: flex;
}
/* Booking */
.booking {
  margin-right: 100px;
  padding-right: 30px;
}
.booking .title {
  margin-bottom: 44px;

  color: var(--primary-white-color);
}
.contacts .title {
  margin-bottom: 40px;

  color: var(--primary-white-color);
}
.contacts-list {
  margin-bottom: 70px;
 }
.contacts-link {
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  font-style: normal;
  color: var(--primary-grey-color);
  transition: color 250ms linear;
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--primary-accent-color);
}
.address .contacts-link {
  font-weight: 700;
  align-items: flex-start;
}
.contacts .subtitle {
  margin-bottom: 20px;

  color: var(--primary-white-color);
}
.contact-icon {
  margin-right: 16px;

  --color1: currentColor;
}
/* Footer */
.page-footer {
  background-color: var(--secondary-bg-color);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
}
.page-footer .container {
  display: flex;
  align-items: center;
}
.footer-text {
  margin: 0;
}
.footer-link {
  display: inline-block;
  margin-left: 40px;
  padding-top: 56px;
  padding-bottom: 56px;

  color: var(--primary-black-color);
}
.link-list {
  margin-left: auto;
  margin-right: 0;
  display: flex;
  align-items: center;
  gap: 40px;
}
.link-list::before {
  content: "";
  width: 60px;
  height: 1px;

  background-color: var(--primary-black-color);
}
.booking-form {
  max-width: 600px;
}
.form-field {
  position: relative;

  overflow: hidden;
  display: inline-block;
  margin-bottom: 44px;
}
.form-field:first-child {
  margin-right: var(--main-gap-size);
}
.form-input {
  min-width: 270px;

  background-color: var(--third-bg-color);
  border-style: none;
  border-bottom: 1px solid var(--booking-text-color);
  transition: color 250ms linear, transform 250ms linear;
}
.form-input:hover,
.form-input:focus {
  color: var(--primary-white-color);
}
.form-input:hover + .form-text,
.form-input:focus + .form-text {
  color: var(--primary-white-color);
}
.form-input:not(:placeholder-shown) + .form-text {
  transform: translate(-50px, -50px);
}
.form-textarea {
  width: 570px;
  height: 76px;
  resize: none;

  background-color: var(--third-bg-color);
  overflow: hidden;
  border-style: none;
  border-bottom: 1px solid var(--booking-text-color);
  transition: color 250ms linear, transform 250ms linear;
}
.form-textarea:hover,
.form-textarea:focus {
  color: var(--primary-white-color);
}
.form-textarea:hover + .form-text,
.form-textarea:focus + .form-text {
  color: var(--primary-white-color);
}
.form-textarea:not(:placeholder-shown) + .form-text {
  transform: translate(-50px, -50px);
}
.form-text {
  position: absolute;
  left: 0;
  top: 0;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15px / 11px);
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--booking-text-color);
}
.booking-button {
}
